<!-- <h1>Hai Iam veman</h1> -->
<!-- there are some databinding in that simpliset binding is string interpolation
it is{{}} string interpolation -->
 <!-- here iam using string interpolation in my component ts file in define values id name price iam fetch taht
 values using string interpolation -->
 <!-- <div class="row">
<div class="shadow-lg col3"> -->
<div class="card">
  <div class="img1">
    <div class="img1">
      <img class="card-img-top"src="assets/images/house5.png">
      <li class="list-inline-item">
        <button class="btn-btn-primary1" routerLink="/property-detail/ {{property.id}}">
          <i class="fa-solid fa-pen-to-square"></i>
        </button>
      </li>


<li class="list-inline-item">
  <button class="btn-btn-primary2"><i class="fa-regular fa-address-book"></i></button>
</li>
</div>
<div class="card-body p-1">
  <h4>{{property.name}}</h4>
<h4>{{property.type}}</h4>
  <h4>{{property.price}}</h4>
  <div class="veman">CopyRights..VEMAN</div>

</div>
</div>



